@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#app {
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
}